<header>
     <div class="logo_container">
          <div class="logo">
               <img src="../../assets/logos/uefa-cl.png" alt="Exploration Battalion logo">
          </div>
          <div class="nothing"></div>
          <div class="logo">
               <img src="../../assets/logos/uefa-cl.png" alt="Exploration Battalion logo">
          </div>
     </div>
     <nav>
          <ul>
               @for (player of players; track $index) {
                    <li><button (click)="onChoicePlayer($index)">{{ player.name }}</button></li>
               }  
          </ul>
     </nav>
</header>
